<!--
	Goals:
	- make into a require-able node component
	- move the js in this file to an app.js file
	- use browserify to build the js
	- use an underscore template
-->

<html>
<head>
	<title></title>
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
	<div id="container">
	</div>

	<script type="text/template" id="template">
		<div class="dropdown">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<span class="dropdown-btn-text"><%= defaultButtonName %></span>
				&nbsp<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li>
					<input type="text" class="form-control" placeholder="Search...">
				</li>
				<li class="dropdown-content">
					<div class="list-group" style="margin-bottom: 0px;">
						<% _.each(items, function(item) { %>
							<a href="javascript: void(0);" class="list-group-item">
								<span><%= item.text %></span>
								<input type="hidden" value="<%= item.val %>">
							</a>
						<% }); %>
					</div>
				</li>
			</ul>
		</div>
	</script>

	<script src="node_modules/jquery/dist/jquery.min.js"></script>
	<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="node_modules/underscore/underscore-min.js"></script>
	<script src="js/input_dropdown.js"></script>

	<script>
		(function() {
			var inputDropdown = new input_dropdown();
			var items = [];

			for (var i = 0; i < 10; i++) {
				items.push({ text: "text" + i, val: i });
			}

			var template = inputDropdown.template('Click me', items);
			$('#container').html(template);
			inputDropdown.init($('#container > .dropdown'));
		})();
	</script>
</body>
</html>