<div class="dropdown">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		<span class="dropdown-btn-text"><%= defaultButtonName %></span>
		&nbsp<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li>
			<input type="text" class="form-control" placeholder="Search...">
		</li>
		<li class="dropdown-content">
			<div class="list-group" style="margin-bottom: 0px;">
				<% _.each(items, function(item) { %>
					<a href="javascript: void(0);" class="list-group-item">
						<span><%= item.text %></span>
						<input type="hidden" value="<%= item.val %>">
					</a>
				<% }); %>
			</div>
		</li>
	</ul>
</div>
